.App {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(28, 55, 87);
  color: whitesmoke;
  padding: 40px;
}
h1 {
  margin-bottom: 30px;
}

.container {
  display: block;
  margin: 50px auto;
  margin-bottom: 5px;
  min-width: 700px;
  width: fit-content;
  height: fit-content;
  text-shadow: 2px 2px rgb(18, 35, 56);
  border-style: solid;
  border-color: whitesmoke;
  border-width: 2px;
  border-radius: 15px;
  background: black;
  background-size: 100%;
  background: linear-gradient(
    109.6deg,
    rgb(44, 83, 131) 18.9%,
    rgb(95, 175, 201) 91.1%
  );
  box-shadow: 5px 5px rgb(18, 35, 56);
}
.content {
  margin-right: 50px;
  margin-left: 50px;
}
.search-bar,
.search-button {
  box-shadow: 2px 2px rgb(33, 64, 101, 70%);
}
Button .search-button {
  background-color: rgb(33, 64, 101);
  border-style: solid;
  border-color: #5ba8c4;
  color: white;
}
:hover.search-button {
  color: rgb(33, 64, 101);
  background-color: #5ba8c4;
  border-color: rgb(33, 64, 101);
}

.current-day,
.current-time,
.current-range,
.forecast-temperatures {
  font-size: 18px;
}
.weather-details {
  font-size: 15px;
  text-transform: capitalize;
}

.current-temp {
  font-size: 72px;
}
.current-weather {
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-icon {
  margin-left: 30px;
  margin-right: 50px;
}
#current-location-button {
  font-size: 12px;
  height: min-content;
  padding: 8px;
  border-color: rgb(33, 64, 101);
  box-shadow: 2px 2px rgb(33, 64, 101, 70%);
}
.weekly-weather {
  margin: 30px auto;
}
.forecast-icons {
  font-size: 40px;
}

.source-link {
  display: block;
  margin: 0 auto;
}
