form {
  margin-top: 20px;
}
.search-bar,
.search-button {
  box-shadow: 2px 2px rgb(33, 64, 101, 70%);
}
.search-button {
  background-color: rgb(33, 64, 101) !important;
  border-style: solid;
  border-color: #5ba8c4 !important;
  color: white;
}
:hover.search-button {
  color: rgb(33, 64, 101) !important;
  background-color: #5ba8c4 !important;
  border-color: rgb(33, 64, 101) !important;
}
.current-weather {
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-icons {
  font-size: 600%;
}
.current-temp {
  font-size: 60px;
}
.weekly-weather {
  margin: 30px auto;
}
.forecast-icons {
  font-size: 40px;
}

@media (max-width: 600px) {
  .current-temp {
    font-size: 40px;
  }
  .react-icons {
    font-size: 600%;
    margin-bottom: 10px;
  }
}
