h1 {
  margin-bottom: 0px;
}

.content {
  margin-right: 50px;
  margin-left: 50px;
}
.search-bar,
.search-button {
  box-shadow: 2px 2px rgb(33, 64, 101, 70%);
}
.search-button {
  background-color: rgb(33, 64, 101) !important;
  border-style: solid;
  border-color: #5ba8c4 !important;
  color: white;
}
:hover.search-button {
  color: rgb(33, 64, 101) !important;
  background-color: #5ba8c4 !important;
  border-color: rgb(33, 64, 101) !important;
}
#current-location {
  font-size: 54px;
}

.current-day,
.current-time,
.current-range,
.forecast-temperatures {
  font-size: 18px;
}
.weather-details {
  font-size: 15px;
  text-transform: capitalize;
}

.current-temp {
  font-size: 72px;
}
.current-weather {
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-icons {
  margin-left: 30px;
  margin-right: 50px;
  font-size: 300%;
}
#current-location-button {
  font-size: 18px;
  height: max-content;

  border-color: rgb(33, 64, 101);
  box-shadow: 2px 2px rgb(33, 64, 101, 70%);
}
.weekly-weather {
  margin: 30px auto;
}
.forecast-icons {
  font-size: 40px;
}
.WeatherIcon {
  height: 48px;
}
