.Weather {
  padding-bottom: 20px;
}
form {
  margin-top: 20px;
}
.search-bar,
.search-button {
  box-shadow: 2px 2px rgb(33, 64, 101, 70%);
}
.search-button {
  background-color: rgb(33, 64, 101) !important;
  border-style: solid;
  border-color: #5ba8c4 !important;
  color: white;
}
:hover.search-button {
  color: rgb(33, 64, 101) !important;
  background-color: #5ba8c4 !important;
  border-color: rgb(33, 64, 101) !important;
}
.current-weather {
  display: flex;
  align-items: end;
  justify-content: center;
}
.current-location {
  font-size: 50px;
  margin-bottom: 0;
}
.weather-details,
.date-time {
  font-size: 18px;
}
.react-icons {
  font-size: 600%;
}
.current-temp {
  font-size: 120px;
  margin-bottom: 0;
  margin-top: 10px;
  line-height: 1;
}
.fahrenheit {
  position: relative;
  top: -50px;
  font-size: 50px;
}

@media (max-width: 600px) {
  .current-temp {
    font-size: 80px;
  }
  .fahrenheit {
    position: relative;
    top: -35px;
    font-size: 30px;
  }
  .current-location {
    font-size: 24px;
  }
  .react-icons {
    font-size: 600%;
    margin-bottom: 10px;
  }
  .weather-details,
  .date-time {
    font-size: 14px;
  }
}
